@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1366px;
  margin: 0 auto;
}

.select-clean {
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none; /* removes default dropdown styles */
  background: transparent;
}

.select-clean:focus,
.select-clean:active,
.select-clean:hover {
  border: none;
  outline: none;
  box-shadow: none;
}

